<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="navigation">
        <div class="logo">
          <a href="/"><img src="/Logo_neu.png" alt="" /></a></div>
        <div class="nav-right">
          <a href="/">Home</a>
          <a href="/photo" class="">Photos</a>
          <a href="/profile">Profil</a>
          <a href="/post">Post</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h5>InConnection</h5>
      <a href="/impressum">Impressum</a>
    </footer>

  </body>
</html>