<section class="gallary">
  <div class="bildergalerie">
    {{#posts}}
      <a href="/post/{{id}}">
        <container class="fotografie-grid">
          <img src="uploads/{{bild}}" width="100%" height="auto" />

        </container>
      </a>
    {{/posts}}
  </div>
</section>