<button class="buttons"> <a href="/new_post">Create Post</a></button>

<!--<section class="home-fotografie-grid">
    {{#posts}}s
    <a href="/post/{{id}}">
    <container class="fotografie-grid">
    <h3 class="title-fotografie">{{title}}</h3>
    <img src="/uploads/{{image}}" width="100%" height="auto">
    </container>
        {{/posts}} 
    </a>
    </section>-->