<form action="/post" enctype="multipart/form-data" method="post">
  ID:
  <input type="text" name="user_id" /><br />
  Titel:
  <input type="text" name="title" /><br />
  <input type="file" name="bild" /><br />
  <input type="submit" />
</form>