<form action="/create_post" enctype="multipart/form-data" method="post">
  <label for="user_id">ID:</label>
  <input type="text" id="user_id" name="user_id" required /><br />

  <label for="title">Titel:</label>
  <input type="text" id="title" name="title" required /><br />

  <div class="left-column">
    <label for="bild">
      <img
        src="/new_post-icon.png"
        width="100px"
        height="100px"
        alt="Upload Icon"
      />
    </label>
    <input type="file" id="bild" name="bild" accept="/*" required />
  </div>

  <input type="submit" value="Posten" />
</form>