<div class="container">
  <div class="home-portrait">
    <img src="Bild.jpg" alt="Beispielbild" class="image" />
    <div class="overlay">
      <div class="overlay-text">
        Finde dein perfektes Match für kreative Projekte. Fotografen und Models
        vernetzen sich hier.
      </div>
      <div class="buttons">
        <button class="cta-button">Anmelden</button>
        <button class="cta-button">Regristrieren</button>
      
      </div>
    </div>
  </div>
</div>

<section class="gallary">
  <div class="bildergalerie">
    {{#posts}}
      <a href="/post/{{id}}">
        <container class="fotografie-grid">
          <img src="/Model_1.jpg" width="100%" height="auto" />

        </container>
      </a>
    {{/posts}}
  </div>
</section>