<h1>Fotografie</h1>

<h2>Finde dein perfektes Match für kreative Projekte. 
    Fotografen und Models vernetzen sich hier.</h2>

{{#posts}}
<hr>
<h3>{{title}}</h3>
<p>{{bild}}
    {{/posts}} 
{{> contactform}}
